[Unit]
Description=Linux Made Sane Desktop Session Helper
Documentation=https://www.linuxmadesane.com/docs
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
Environment=LMS_DESKTOP_HELPER_SOCKET=__SOCKET_PATH__
Environment=LMS_DESKTOP_HELPER_LMS_URL=__LOCAL_LMS_URL__
Environment=LMS_DESKTOP_HELPER_TRAY_ICON=__TRAY_ICON_PATH__
ExecStart=__EXEC_START__
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
