[Unit]
Description=__DESCRIPTION__
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=__SERVICE_USER__
Group=__SERVICE_GROUP__
WorkingDirectory=__WORKING_DIRECTORY__
EnvironmentFile=__ENV_FILE__
ExecStart=__EXEC_START__
Restart=on-failure
RestartSec=5
TimeoutStopSec=20
KillSignal=SIGINT
SyslogIdentifier=linux-made-sane
RuntimeDirectory=linuxmadesane
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
