@* Copyright (c) Richard D. Kiernan.
   Licensed under the Business Source License 1.1. See LICENSE.md for details. *@

@page "/integrations/media-library"
@rendermode InteractiveServer

<PageTitle>Media Library Streaming | Linux Made Sane</PageTitle>

<div class="page-shell">
    <UiHeroPanel Title="Media Library Streaming"
                 Compact="true" />
    <MediaLibraryIntegrationWorkspace />
</div>
