[Desktop Entry]
Type=Application
Name=Linux Made Sane Desktop Helper
Comment=Connects this graphical user session to the local LMS service
Exec=env LMS_DESKTOP_HELPER_SOCKET=__SOCKET_PATH__ LMS_DESKTOP_HELPER_LMS_URL=__LOCAL_LMS_URL__ LMS_DESKTOP_HELPER_TRAY_ICON=__TRAY_ICON_PATH__ __EXEC_START__
Terminal=false
X-GNOME-Autostart-enabled=true
